<div class="home-intro">
    <div class="jumbo">{{site.heading}} </div>
    <div class="home-sub-text"> <h3>
        This is my current website that I'll be using as a database of some sorts. If you're here, it's more than likely you'll want to explore the DND campaign. Just search something up! 
        Check out the <a href="{{'/notes' | relative_url}}"> demo </a>, <a href="{{'/post/features' | relative_url}}"> features </a> and <a href="{{'/post/how-to' | relative_url}}"> how to</a>.
        </h3> 
</div> </div>

